/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}*/
body{
    background-image: url("../pictures/PageLogin.jpg");
    background-position: center;
}
.headerlogin{
    height: 30px;
    background: #770a82;
    background: -moz-linear-gradient(-45deg, #770a82 0%, #770a82 13%, #770a82 13%, #770a82 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #770a82), color-stop(13%, #770a82), color-stop(13%, #770a82), color-stop(100%, #770a82));
    background: -webkit-linear-gradient(-45deg, #770a82 0%, #770a82 13%, #770a82 13%, #770a82 100%);
    background: -o-linear-gradient(-45deg, #770a82 0%, #770a82 13%, #770a82 13%, #770a82 100%);
    background: -ms-linear-gradient(-45deg, #770a82 0%, #770a82 13%, #770a82 13%, #770a82 100%);
    background: linear-gradient(135deg, #770a82 0%, #770a82 13%, #770a82 13%, #770a82 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#125882', endColorstr='#16618c',GradientType=1 );
   /* border-bottom: 4px solid #fab824;*/
}
.logo-back{
    margin-top: 10px;

}

#boxlogin{
    height: auto;
    margin: 0 auto;
    border: 2px solid #FFFFFF;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.login__form{
    padding: 10px;
    margin: 60px;
}
.login__form .form-group.form-password{

    margin-bottom:50px

}
.login__form .form-submit{
    color: #aaaaaa;
}
.login__form .form-submit input{
    border-radius: 10px;
}
.login__form .form-group .input-icon{
    position: relative;
}
.login__form .form-group .input-icon .icon-user,
.login__form .form-group .input-icon .icon-lock{
    position:absolute;
    top:12px;
    left:5px;

}
.login__form .form-group .input-icon input{
    padding:12px 20px;

}

.header{
    top: 31px !important;
}


.footerlayout{
    height: 30px;
    background: #770a82;
    background: -moz-linear-gradient(-45deg, #770a82 0%, #770a82 13%, #770a82 13%, #770a82 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #770a82), color-stop(13%, #770a82), color-stop(13%, #770a82), color-stop(100%, #770a82));
    background: -webkit-linear-gradient(-45deg, #770a82 0%, #770a82 13%, #770a82 13%, #770a82 100%);
    background: -o-linear-gradient(-45deg, #770a82 0%, #770a82 13%, #770a82 13%, #770a82 100%);
    background: -ms-linear-gradient(-45deg, #770a82 0%, #770a82 13%, #770a82 13%, #770a82 100%);
    background: linear-gradient(135deg, #770a82 0%, #770a82 13%, #770a82 13%, #770a82 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#125882', endColorstr='#16618c',GradientType=1 );
    /*border-top: 4px solid #fab824;*/
}
